#page #content #tabs #tabButtons li {
    width: calc(99%/2);
}

#page #navigation #borrowing {
    background-image: url('../pictures/icons/borrowing-red.png');
    background-color: #ccd9ff !important;
    color: #990000 !important;
}

#page #content #tabs #tab1 #userwrapper, #itemwrapper, #page #content #tabs #tab2 #userwrapper, #itemwrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

#page #content #tabs #tab1 #userwrapper > *, #page #content #tabs #tab1 #itemwrapper > *, #page #content #tabs #tab2 #userwrapper > *, #page #content #tabs #tab2 #itemwrapper > * {
    padding-top: 10px;
    flex: auto;
}

#page #content #tabs #tab1 #userwrapper #searchuser, #itemwrapper #searchitem, #tab2 #itemwrapper #searchitem {
    width: 100%;
}

#page #content #tabs #tab1 #userwrapper #searchuser label, #itemwrapper #searchitem label, #tab2 #itemwrapper #searchitem label {
    display: block;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 0.35em;
    float: left;
    color: dimgray;
}

#page #content #tabs #tab1 #userwrapper #searchuser input.searchbar, #itemwrapper #searchitem input.searchbar, #tab2 #itemwrapper #searchitem input.searchbar {
    float: left; 
    height: 30px; 
    width: 100%;
    padding: 8px 13px 8px 40px;
    background: #fff; 
    border: 1px solid red;
    color: black;

    background-image: url("../pictures/icons/search-gray.png");
    background-size: 28px,28px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
}

#page #content #tabs #tab1 #userwrapper #userimage, #itemwrapper #itemimage, #tab2 #userwrapper #userimage, #itemwrapper #itemimage {
    width: 160px;
}

#page #content #tabs #tab1 #userwrapper #userimage img, #itemwrapper #itemimage img, #tab2 #userwrapper #userimage img, #itemwrapper #itemimage img {
    width: auto;
    height: auto;
    max-width:130px;
    max-height:140px;
}

#page #content #tabs #tab1 #userwrapper #usertext, #itemwrapper #itemtext, #tab2 #userwrapper #usertext, #itemwrapper #itemtext {
    display: inline-block;
    margin-left: 20px;
    width: 50%;
    text-align:left;
}

#page #content #tabs #tab1 #userwrapper #usertext h5, #itemwrapper #itemtext h5, #tab2 #userwrapper #usertext h5, #itemwrapper #itemtext h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #990000;
}

#page #content #tabs #tab1 #userwrapper #usertext h6, #itemwrapper #itemtext h6, #tab2 #userwrapper #usertext h6, #itemwrapper #itemtext h6 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 0px;
}

#page #content #tabs #tab1 #borrowbutton, #tab2 #returnbutton {
    min-width: 100%;
}

@media all and (min-width: 300px) {
    #userimage { flex: 1; }
    #usertext { flex: 1; }
    #itemimage { flex: 1; }
    #itemtext { flex: 1; }
}

@media all and (min-width: 400px) {
    #userimage { order: 1; }
    #usertext { order: 2; }
    #itemimage { order: 1; }
    #itemtext { order: 2; }
}


#page #content #tabs #tab2 #returnbutton {
    margin-top:53px;
}

#page #content #tabs #tab1 #borrowbutton, #tab2 #returnbutton {
    width: 80%;
    margin: 0 auto;
    bottom : 25px;
    height : 30px;
}

#page #content #tabs #tab1 #borrowbutton input[type=button], #tab2 #returnbutton input[type=button] {
    display: inline-block;
    float: right;
    height: 30px;
    width: 110px;
    background-color: #990000;
    border: 1px solid #990000;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
}

#page #content #tabs #tab1 #borrowbutton input[type=button]:hover, #tab2 #returnbutton input[type=button]:hover {
    background-color: #cc0000;
    color: white;
}

#page #content #tabs #tab2 #searchuser #userinfo{
    margin-top: 50px;
}