#page #navigation #manageitems {
    background-image: url('../pictures/icons/items-red.png');
    background-color: #ccd9ff !important;
    color: #990000 !important;
}

#page #content #itemwrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
    text-align: center;
    width: 63.5%;
    margin: 0 auto;
    margin-top: 10px;
}

#page #content #itemwrapper #subjectwrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
}

#page #content #itemwrapper > * {
    padding: 10px;
    flex: auto;
}

#page #content #itemwrapper #subjectwrapper > * {
    padding: 10px 0px 10px 0px;
    flex: auto;
}

#page #content #itemwrapper label{
    display: block;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 0.35em;
    float: left;
    color: dimgray;
}

#page #content #itemwrapper #itempicture {
    flex: 1;
    min-width: 250px;
    max-height: 200px;
    align-self: center;
    margin-bottom: 0px;
}

#page #content #itemwrapper #itempicture img {
    width: auto;
    height: auto;
    max-width: 170px;
    max-height: 170px;
}

#page #content #itemwrapper #itemtext {
    flex: 3;
    width: 100%;
    min-width: 250px;
    max-height: 270px;
}

#page #content #itemwrapper #itemtext input[type=text] {
    display: block;
    width: 100%;
    height: 25px;
    text-align: left;
    padding: 0px 0px 0px 10px;
    margin-bottom: 5px;
    float: left;
}

#page #content #itemwrapper #itemtext input[type=date] {
    display: inline-block;
    height: 25px;
    width: 30%;
    min-width: 120px;
    margin-right: 70%;
    margin-bottom: 5px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    color: darkgray;
}

#page #content #itemwrapper #itemtext #subjectwrapper #selectmenu5 {
    min-width: 120px;
    max-width: 200px;
    height: 30px;
    background: #ccd9ff;
    color: #990000;
    border-radius: 2px;
    padding: 4px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    float: left;
    align-self: center;
    margin-top: 7px;
    margin-right: 10px;
}

#page #content #itemwrapper #itemtext #subjectwrapper #floatright {
    width: 55%;
}

#page #content #itemwrapper #itemcontent label {
    margin-top: 10px;
}

#page #content #itemwrapper #itemcontent textarea {
    width: 100%;
    float: left;
    display: block;
    height: 100px;
    resize: none;
}

#page #content #itemwrapper #itemcontent, #submitbutton {
    width: 100%;
    min-width: 250px;
}

#page #content #itemwrapper #submitbutton input[type=button] {
    display: inline-block;
    float: right;
    height: 30px;
    width: 110px;
    background-color: #990000;
    border: 1px solid #990000;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
}

#page #content #itemwrapper #submitbutton input[type=button]:hover {
    background-color: #cc0000;
    color: white;
}

@media all and (min-width: 699px) {
    #itempicture { flex: 1; }
    #itemtext { flex: 1; }
    #itemcontent { flex: 1;}
    #submitbutton { flex: 1;}
}

@media all and (min-width: 700px) {
    #itempicture { order: 1; }
    #itemtext { order: 2; }
    #itemcontent {order: 3; }
    #submitbutton { order: 4; }
}

@media all and (min-width: 200px) {
    #selectmenu5 { flex: 1; }
    #floatright { flex: 1; }
    #selectmenu5 { order: 1; }
    #floatright { order: 2; }
}