html, body {
    height: 100%;
    margin: 0;
	background-color: #b3b3ff;
}

#login {
	width: 40vh;
	height: 40vh;
    padding: 25px;
	background:rgba(255,255,255,0.3);
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

#login #logo {
	font-size: 25px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#login #logo img {
	float: left;
	margin-left: 30px;
}

#login hr {
    border: 0;
    height: 1px;
    background-color: grey;
	margin-bottom: 15px;
}

#login #form input{
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 12px;
	box-sizing: border-box;
	font-size: 14px;
}

#login #form button {
	text-transform: uppercase;
	outline: 0;
	background: gray;
	width: 100%;
	border: 0;
	padding: 12px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	margin-bottom: 15px;
}

#login #form button:hover,.form button:active,.form button:focus {
  background: #9999ff;
}

#login #form .message {
  margin: 15px 0 0;
  color: gray;
  font-size: 14px;
}
#login #form .message a {
  color: #6666ff;
  text-decoration: none;
}