html, body {
    height: 90%;
    margin: 0;
}

#banner {
	width: 100%;
	background-color: #b3c6ff;
	height: 5vh;
	z-index: 100;
	position: fixed;
	top: 0;
	border-bottom: 1.5px solid grey;
}

#banner p {
	text-align: right;
	margin-right: 30px;
	margin-top: 5px;
	right: 0;
}

#page {
	margin-left: 230px;
	margin-top: 5vh;
	background-color: white;
	z-index: -1;
	min-height: 100%;
}

#page #side {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: #b3c6ff;
    width: 230px;
	z-index: 101;
	border-right: 1.5px solid grey;
}

#page #side #logo {
	margin-top: 15px;
	margin-left: 15px;
	background: #b3c6ff;
	font-size: 30px;
}

#page #side hr {
    border: 0;
    height: 1px;
    background-color: grey;
}

#page #side input[type=button] {
    display: inline-block;
    background-image: url('https://goo.gl/A1BorP');
    background-repeat: no-repeat;
    background-position: center left 25px;
    height: 50px;
    width: 100%;
	background-color: #b3c6ff;
    border: 1px solid #b3c6ff;
    color: white;
    text-decoration: none;
    font-size: 13px;
	text-align: left;
	padding-left: 80px;
}
 
#page #side input[type=button]:hover {
	background-color: #ccd9ff;
	color: #990000;
}

#page #side #highlight {
	background-color: #ccd9ff;
	color: #990000;
}

#page #content h2{
	color: #990000;
	font-size: 30px;
	margin-left: 100px;
	padding-top: 55px;
	padding-bottom: 30px;
}

#page #content #search form {
	overflow: hidden; 
	margin: 0 0 30px 0;
	margin-left: 15%;
	margin-right:15%;
	width: 70%;
	outline: none;
}	

#page #content #search input.searchbar {
	float: left; 
	height: 40px; 
	width: 100%;
	padding: 8px 13px 8px 40px;
	background: #fff; 
	border: 1px solid red;
	color: black;
	
	background-image: url("http://goo.gl/3S7uSi");
	background-repeat: no-repeat;
	box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
}

#page #content hr {
    border: 0;
	height: 10px;
	width: 80%;
	margin-top: 70px;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#page #content #book {
	width: 80%;
	height: 100%;
	min-height: 200px;
	padding-top: 30px;
	margin: 0 auto;
	border-style: solid;
    border-width: 1px;
	border-color: grey;
	margin-bottom: 20px;
	background-color: #e6ecff;
}

#page #content #book #picture{
	width: 22%;
	height: 100%;
	float:left;
	display: block;
}

#page #content #book #picture img {
	display: block;
	width: auto;
	height: auto;
	max-width:130px;
	max-height:170px;
	margin: 0 auto;
}

#page #content #book #about {
	height:100%;
	margin-bottom: 5%;
	margin-left:25%;
	margin-top: -30px;
	margin-right: 4%;
}

#page #content #book #about h3 {
	font-size: 24px;
	text-align: justify;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -10px;
	color: #990000;
}

#page #content #book #about h4 {
	font-size: 15px;
	text-align: justify;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -10px;
}

#page #content #book #about h5 {
	font-size: 14px;
	text-align: justify;
	font-weight: normal;
}

#page #content #book #about p {
	font-size: 14px;
	text-align: justify;
	font-weight: normal;
}

#page #content #book #about hr {
	border: 0;
	height: 1px;
	width: 100%;
	margin-top: 10px;
}

#page #content #book #about input[type=button] {
	float: right;
	overflow: hidden;
    height: 25px;
    width: 80px;
	background-color: #990000;
    border: 1px solid #990000;
    color: white;
    text-decoration: none;
    font-size: 13px;
	text-align: center;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

#page #content #book #about input[type=button]:hover {
	background-color: #cc0000;
	color: white;
}