html, body {
    height: 90%;
    margin: 0;
	padding: 0;
}

#banner {
	width: 100%;
	background-color: #b3c6ff;
	height: 5vh;
	z-index: 100;
	position: fixed;
	top: 0;
	border-bottom: 1.5px solid grey;
}

#banner p {
	text-align: right;
	margin-right: 30px;
	margin-top: 5px;
	right: 0;
}

#page {
	margin-left: 230px;
	margin-top: 5vh;
	background-color: white;
	z-index: -1;
	min-height: 100%;
}

#page #side {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: #b3c6ff;
    width: 230px;
	z-index: 101;
	border-right: 1.5px solid grey;
}

#page #side #logo {
	margin-top: 15px;
	margin-left: 15px;
	background: #b3c6ff;
	font-size: 30px;
}

#page #side hr {
    border: 0;
    height: 1px;
    background-color: grey;
}

#page #side input[type=button] {
    display: inline-block;
    background-image: url('https://goo.gl/A1BorP');
    background-repeat: no-repeat;
    background-position: center left 25px;
    height: 50px;
    width: 100%;
	background-color: #b3c6ff;
    border: 1px solid #b3c6ff;
    color: white;
    text-decoration: none;
    font-size: 13px;
	text-align: left;
	padding-left: 80px;
 }
 
#page #side input[type=button]:hover {
	background-color: #ccd9ff;
	color: #990000;
}

#page #side #highlight {
	background-color: #ccd9ff;
	color: #990000;
}

#page #content h2{
	color: #990000;
	font-size: 30px;
	margin-left: 100px;
	padding-top: 55px;
	padding-bottom: 30px;
}

#page #content #centered {
	width:60%;
	height:100%;
	margin:0 auto ;
	overflow:auto;
}

#page #content #centered #picture {
	height:100%;
	float: left;
	width: 35%;
}

#page #content #centered #picture img {
	max-width: 100%;
}

#page #content #centered #text {
	color: black;
	text-align: justify;
	height:100%;
	margin-left:45%;
}

#page #content #centered #text #sUsername {
	color: #990000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 30px;
}

#page #content #centered #text p {
	color: black;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	margin-bottom: 20px;
}

#page #content #centered #editbutton {
	width:50%;
	margin:0 auto;
	overflow: hidden;
	position : absolute;
    bottom : 40px;
    height : 30px;
}

#page #content #centered #editbutton input[type=button] {
	overflow: hidden;
	float: right;
    height: 30px;
    width: 120px;
	background-color: #990000;
    border: 1px solid #990000;
    color: white;
    text-decoration: none;
    font-size: 14px;
	text-align: center;
	margin-right: 30px;
}

#page #content #centered #editbutton input[type=button]:hover {
	background-color: #cc0000;
	color: white;
}